---

import { ChevronRight } from 'lucide-react';
import {Container} from '../ui/container'
import { ShareButton } from '../ui/share-button';

interface BreadcrumbItem {
  text: string;
  href: string;
  location: boolean;
}

const toTitleCase = (str: string): string => {
  return str.replace(
    /\w\S*/g,
    (txt) => txt.charAt(0).toUpperCase() + txt.substring(1).toLowerCase()
  );
};

let parts: Array<BreadcrumbItem> = [];
const paths = Astro.url.pathname.split("/").filter((crumb: any) => crumb);

parts = [
  {
    text: toTitleCase("home"),
    href: "/",
    location: false
  },
];

/**
 * Loop through the paths and create a breadcrumb item for each.
 */
paths.forEach((text: string, index: number) => {
  const generateHref = `/${paths.slice(0, index + 1).join("/")}`;
  const finalHref = "" + generateHref;

  // strip out any file extensions
  const matches = text.match(/^(.+?)(\.[a-z0-9]+)?$/i);

  if (matches && matches[2]) {
    text = matches[1];
  }
  text = text.replace(/[-_0-9]/g, " ");
  text = toTitleCase(text);

  parts = [
    ...parts,
    {
      text: text,
      href: finalHref,
      location: paths.length === index + 1
    },
  ];
});

const schemaJson = JSON.stringify({
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  itemListElement: parts.map((part, index) => ({
    "@type": "ListItem",
    position: index + 1,
    item: {
      "@id": part.href,
      name: part.text,
    },
  })),
});
---

<div class="bg-alternative text-alternative-foreground">
  <Container>
    <nav class="flex items-center p-2 justify-between">
      <ul class="mb-0 flex items-center justify-center space-x-2 pb-0">
        {
          parts.map(({ text, location, ...attrs }) => (
            <li class={location ? "font-semibold" : ""}>
              <div class="flex space-x-2">
                {(location) && (
                    <div aria-current="location">
                    {text}
                    </div>
                    )}

                {!(location) && (
                  <a {...attrs}>
                    {text}
                  </a>
                  <ChevronRight size={26} />
                )}
              </div>
            </li>
          ))
        }
      </ul>
      <div>
        
        <ShareButton className=' text-alternative-foreground' />
      </div>
    </nav>
  </Container>
</div>
<script type="application/ld+json" is:inline set:html={schemaJson} />
