---

---

<div class="bg-secondary p-8 text-center text-xl text-secondary-foreground">
  <span class="block md:inline-block"> Want to join 1st Chertsey? </span>
  <a href="/contact" class="text-secondary-foreground underline">
    Send us a message!
  </a>
</div>
