---
interface HeroProps {
  pageName: string;
}

const { pageName = "UNSET" } = Astro.props as HeroProps;
---

<div class="bg-primary p-8 text-center text-5xl text-primary-foreground">
  {pageName}
</div>
