---
import { Container } from "./ui/container";
import { Image } from "astro:assets";
import ScoutsLogo from "../media/scouts-logo.png";
---

<header-navigation>
  <nav class="bg-white">
    <Container className="px-8 py-4">
      <div class="flex flex-wrap justify-between items-center">
        <a
          href="/"
          class="flex items-center space-x-3 rtl:space-x-reverse hover:no-underline text-black"
        >
          <span class="self-center text-xl font-black whitespace-nowrap">
            1st Chertsey
          </span>
          <Image src={ScoutsLogo} height={32} alt="Scouts logo" />
        </a>
        <button
          id="toggle"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm md:hidden"
          aria-controls="mega-menu-full"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"></path>
          </svg>
        </button>
        <div
          id="collapseMenu"
          class="items-center justify-between font-medium hidden w-full md:flex md:w-auto md:order-1"
        >
          <ul
            class="flex flex-col pt-4 md:pt-0 p-0 md:space-x-8 rtl:space-x-reverse md:flex-row md:items-center"
          >
            <li>
              <button
                id="mega-menu-full-dropdown-button"
                data-collapse-toggle="mega-menu-full-dropdown"
                class="flex items-center justify-between w-full py-2 px-3 md:w-auto md:hover:bg-transparent md:border-0 md:p-0 font-semibold text-neutral-700 hover:no-underline hover:text-primary"
              >
                Sections
                <svg
                  class="w-2.5 h-2.5 ms-2.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"></path>
                </svg>
              </button>
            </li>
            <li>
              <button
                id="mega-menu-full-dropdown-button"
                data-collapse-toggle="mega-menu-full-dropdown"
                class="flex items-center justify-between w-full py-2 px-3 md:w-auto md:hover:bg-transparent md:border-0 md:p-0 font-semibold text-neutral-700 hover:no-underline hover:text-primary"
              >
                About Us
                <svg
                  class="w-2.5 h-2.5 ms-2.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"></path>
                </svg>
              </button>
            </li>
            <li>
              <a
                href="/donate"
                class="block py-2 px-4 bg-primary text-primary-foreground hover:no-underline"
                >Donate</a
              >
            </li>
            <li>
              <a
                href="/contact"
                class="block py-2 px-3 md:p-0 font-semibold text-neutral-700 hover:no-underline hover:text-primary"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!--<div
        id="mega-menu-full-dropdown"
        class="mt-1 border-gray-200 shadow-sm bg-gray-50 md:bg-white border-y dark:bg-gray-800 dark:border-gray-600"
      >
        <div
          class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 dark:text-white sm:grid-cols-2 md:px-6"
        >
          <ul>
            <li>
              <a
                href="#"
                class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
              >
                <div class="font-semibold">Online Stores</div>
                <span class="text-sm text-gray-500 dark:text-gray-400"
                  >Connect with third-party tools that you're already using.</span
                >
              </a>
            </li>
            <li>
              <a
                href="#"
                class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
              >
                <div class="font-semibold">Segmentation</div>
                <span class="text-sm text-gray-500 dark:text-gray-400"
                  >Connect with third-party tools that you're already using.</span
                >
              </a>
            </li>
            <li>
              <a
                href="#"
                class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
              >
                <div class="font-semibold">Marketing CRM</div>
                <span class="text-sm text-gray-500 dark:text-gray-400"
                  >Connect with third-party tools that you're already using.</span
                >
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a
                href="#"
                class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
              >
                <div class="font-semibold">Online Stores</div>
                <span class="text-sm text-gray-500 dark:text-gray-400"
                  >Connect with third-party tools that you're already using.</span
                >
              </a>
            </li>
            <li>
              <a
                href="#"
                class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
              >
                <div class="font-semibold">Segmentation</div>
                <span class="text-sm text-gray-500 dark:text-gray-400"
                  >Connect with third-party tools that you're already using.</span
                >
              </a>
            </li>
            <li>
              <a
                href="#"
                class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
              >
                <div class="font-semibold">Marketing CRM</div>
                <span class="text-sm text-gray-500 dark:text-gray-400"
                  >Connect with third-party tools that you're already using.</span
                >
              </a>
            </li>
          </ul>
        </div>
      </div> -->
    </Container>
  </nav>
</header-navigation>

<script>
  class HeaderNavigation extends HTMLElement {
    toggleBtn: HTMLElement;
    collapseMenu: HTMLElement;

    constructor() {
      super();

      var toggleBtn = document.getElementById("toggle");

      var collapseMenu = document.getElementById("collapseMenu");

      if (!toggleBtn) {
        throw new Error("Header Navigation: SETUP ERROR - '#toggle' not found");
      }

      if (!collapseMenu) {
        throw new Error(
          "Header Navigation: SETUP ERROR - '#collapseMenu' not found"
        );
      }

      this.toggleBtn = toggleBtn;
      this.collapseMenu = collapseMenu;
    }

    connectedCallback() {
      this.toggleBtn.addEventListener("click", () => this.onToggleClicked());
    }

    onToggleClicked() {
      if (this.collapseMenu.style.display === "block") {
        this.hideCollapseMenu();
      } else {
        this.showCollapseMenu();
      }
    }

    hideCollapseMenu() {
      this.collapseMenu.style.display = "none";
    }

    showCollapseMenu() {
      this.collapseMenu.style.display = "block";
    }
  }

  window.customElements.define("header-navigation", HeaderNavigation);
</script>
