---
import { Container } from "@/components/ui/container";
import BaseLayout from "./base.layout.astro";

interface ErrorProps {
  title: string;
}

const { title }: ErrorProps = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
  <main class="bg-background">
    <Container className="py-4">
      <slot />
    </Container>
  </main>
</BaseLayout>
